@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');


.container{
  width: 100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(140deg, rgb(36,36,223), rgb(39,39,197));
}
.calculator{
  padding:20px;
  border-radius:10px;
  background:#fff;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}
form input{
  border:none;
  outline:0;
  width:60px;
  height:60px;
  font-size:16px;
  background: rgb(91, 91, 142);
  margin:2px;
  border-radius:10px;
  color:#ffff;
  font-weight:bolder;
  cursor:pointer;

}
.btns input[type="button"]:hover{
  background:rgb(137, 22, 246);
  border:2px dotted #242424;
}
 form .screen{
  display:flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;

 }
 .screen input{
   text-align: right;
   flex:1;
   padding: 5px 10px;
   font-size:40px;
   background:rgb(56, 54, 54);
 }
 .equal{
  width:125px;
 }
 
 /* 

 *{
    margin:0;
    padding:0;
    box-sizing:border-box;

 }
 body{
    height:100vh;
    background: #f4f4f4;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
 }
.screen{
   height:4rem;
   margin-bottom:4rem;
}
 .wrapper{
   box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
   width:20rem;
   border-radius: 2rem;
   margin-top:4rem;
   padding:2rem;
    background: #f6f6f6;
 }
 .buttonBox{
   display:grid;
   grid-template-columns: repeat(4,1fr);
   gap:0.5rem;
 }
 .button{
   height:58px;
   display:flex;
   background:#e9f0f4;
   padding:10px;
   border-radius:10px;
   justify-content:center;
   align-items:center;
   cursor:pointer;
   color:#242424;
   border:none;
   font-size:24px;
   
 }
 .button:hover{
   border:2px dotted #242424;
 }

 .equalto{
   background: #4bd886;
   grid-column:3/5;
 }

 .options{
   background:#f79585;
 } */
