 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

 *{
    margin:0;
    padding:0;
    box-sizing:border-box;

 }
 body{
    height:100vh;
    background: #f4f4f4;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
 }
.screen{
   height:4rem;
   margin-bottom:4rem;
}
 .wrapper{
   box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
   width:20rem;
   border-radius: 2rem;
   margin-top:4rem;
   padding:2rem;
    background: #f6f6f6;
 }
 .buttonBox{
   display:grid;
   grid-template-columns: repeat(4,1fr);
   gap:0.5rem;
 }
 .button{
   height:58px;
   display:flex;
   background:#e9f0f4;
   padding:10px;
   border-radius:10px;
   justify-content:center;
   align-items:center;
   cursor:pointer;
   color:#242424;
   border:none;
   font-size:24px;
   
 }
 .button:hover{
   border:2px dotted #242424;
 }

 .equalto{
   background: #4bd886;
   grid-column:3/5;
 }

 .options{
   background:#f79585;
 }
